[Desktop Entry]
Version=1.0
Type=Application
Name=Charles
Comment=HTTP Debugger
Exec=env JAVA_HOME={{jdk_global_jdk_directory}} {{ansible_user_dir}}/Software/charles/bin/charles
Icon={{ansible_user_dir}}/Software/charles/icon/charles_icon.svg
Path=
Terminal=false
StartupNotify=true
