[Desktop Entry]
Version=1.0
Type=Application
Name=logFaces
Comment=Log Aggregator
Exec=env PATH={{jdk_destination}}/{{jdk_azul_jdk_link_destination}}/bin {{ansible_user_dir}}/Software/logFacesClient/logfaces
Icon={{ansible_user_dir}}/Software/logFacesClient/icon.xpm
Path=
Terminal=false
StartupNotify=true
